/* IMPORTAÇÃO DE FONTE DO GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
    background-color: #1e2235;
    color: white;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

nav img {
    width: 54px;
}

nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: white;
}

.linha {
    border-left: 1px solid #fff;
    height: 30px;
}

.btn-outline {
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 5px;
}

.btn {
    text-decoration: none;
    color: white;
    border: 1px solid #8b5cf6;
    background-color: #8b5cf6;
    border-radius: 5px;
    padding: 10px 15px;
}

.banner-header {
    padding-top: 5rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner-header .esquerda {
    width: 40%;
    min-width: 380px;
}

.banner-header .direita {
    width: 55%;
}

.banner-header h2 {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #8b5cf6;
    letter-spacing: 2px;
}

.banner-header h1 {
    margin-top: 20px;
    font-size: 2.4rem;
}

.banner-header p {
    margin: 20px 0 60px 0;
    font-weight: 300;
    line-height: 1.8rem;
    font-size: 1rem;
}

.banner-header .mini-message { 
    font-size: 0.85rem;
}

.dashboard {
    display: flex;
    justify-content: flex-end;
    gap: 10px
}

.group-blocks {
    width: 45%;
    max-width: 270px;
    min-width: 250px;
    border: 1px solid red;
}

.block {
    background-color: #444;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.block-a {
    height: 300px;
    background: rgb(53,56,73);
    background: linear-gradient(162deg, rgba(53,56,73,1) 0%, rgba(51,65,82,1) 50%, rgba(40,124,143,1) 100%);
}

.block-b {
    height: 120px;
    background: rgb(53,56,73);
    background: linear-gradient(162deg, rgba(53,56,73,1) 0%, rgba(58,59,82,1) 65%, rgba(98,80,152,1) 100%);
}

@media screen and (max-width: 768px) {
    .banner-header .direita {
        width: 100%;
    }

    nav ul {
        display: none;
    }
}