$black: #333
$primary-color: #c3005e
    
div
    width: 50%
    margin: 0 auto
    text-align: center
    border-radius: 10px
    padding: 15px 10px
    background: $black
    font-family: Helvetica
    border: 1px solid $black

    p
        color: $primary-color
    
    &:hover
        background: transparent

        p
            color: $black

p
    color: #a0a0a0