* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0f0f0f;
    color: white;
    font-family: Arial;
}

.video-box {
    /* width: 350px; ISSO VAI MUDAR!!! */
    width: 100%; 
}

.video-box:hover {
    cursor: pointer;
}

.thumb img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.thumb {
    position: relative;
}

.time {
    font-size: 0.8rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.733);
    padding: 4px;
    border-radius: 3px;

    position: absolute;
    bottom: 8px;
    right: 8px;
}

main {
    padding: 100px 30px 0 200px;
}

.info {
    display: grid;
    grid-template-columns: 38px 1fr 24px;
    align-items: start;
    column-gap: 10px;
    margin-top: 8px;
}

.profile-img img {
    width: 100%;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}

.info h2 {
    font-size: 1rem;
    margin: 5px 0 8px 0;
}

.info p {
    font-size: 0.9rem;
    color: #aaa;
    margin-bottom: 3px;
}

/* PSEUDOELEMENTO */
.post-date::before {
    content: "•";
    margin: 0 4px;
}

.more svg {
    fill: white;
}

.videos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 20px;
    row-gap: 40px;
}