.youtube {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;

    /* border-width: ;
    border-style: ;
    border-color: ;
    border: 1px solid blue; */
}

.youtube:hover {
    opacity: 80%;
}

.youtube:active {
    opacity: 50%;
}

.join {
    background-color: white;
    border: 1px solid blue;
    width: 62px;
    height: 36px;
    border-radius: 2px;
    cursor: pointer;
    color: blue;
    transition: all 0.3s;
}

/* HOVER >> PSEUDOCLASSE */
.join:hover {
    color: white;
    background-color: blue;
}